body {
    background-color: #ebd99f7e;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.body-instr {
    background-color: #e0e0e0;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.containerHeader {
    display: flex;
}

.containerHeader > div {
    flex: auto;
}

#header {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28pt;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

#PurdueLogo {
    float: left;
    height: 30px;
    margin-right: 10px;
    margin-top: 9px;
}

#HamburgerSign {
    float: right;
    height: 30px;
    margin-top: 9px;
}

#SignIn {
    color: black;
    font-size: 16pt;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-popup {
    visibility: hidden;
    position: absolute;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #8e6f3e;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: gray;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.containerSection {
    display: flex;
    margin-top: 15px;
}

.containerSection > div {
    flex: 1;
}

#containerOverview {
    border-style: double;
    margin-right: 5px;
    border-radius: 10px;
    border-color: #8e6f3e;
}

#overview {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    font-style: italic;
    font-weight: bold;
    margin: 5px;
}

#overviewText {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    margin: 5px;
}

#containerFunfact {
    border-style: double;
    margin-left: 5px;
    border-radius: 10px;
    border-color: #8e6f3e;
}

#funfact {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    font-style: italic;
    font-weight: bold;
    margin: 5px;
}

.funfactLinks {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    font-style: italic;
    color: #8e6f3e;
    margin: 5px;
}

.containerBody {
    display: flex;
    margin-top: 90px; /* Increased margin-top for more spacing */
    gap: 30px; /* Add space between the containers */
}

.containerBody > div {
    flex: 1;
    padding: 70px; /* Increase padding inside each container */
}

.containerButtons {
    border-style: double;
    margin-right: 5px;
    border-radius: 10px;
    border-color: #8e6f3e;
    cursor: pointer;
    padding: 60px; /* Increase padding to make the content area larger */
    font-size: 1.9em; /* Increase font size for better readability */
}

.bodyHeader {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.bodyDescription {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    color: black;
    margin: 5px;
    text-align: center;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%; /* Ensures the footer spans the full width */
}

.header-section {
    display: flex;
    justify-content: space-between;
    border: solid 0.1rem black;
    padding: 10px;
    margin-bottom: 10px;
}

.welcome {
    margin-top: 0;
    margin-bottom: 0;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.problem-context {
    border: solid 0.1rem black;
    padding: 10px;
    overflow: auto;
    width: 90%;
    margin-right: 10px;
}

.reviewer-section {
    width: 50%;
    margin-left: 10px;
    border: solid 0.1rem black;
    padding: 10px;
}

.notification {
    display: none;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FA7070;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: #8B322C;
}

.solution-submission textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.slider-container {
    width: 100%;
    max-width: 80%;
    position: relative;
    margin: 30px auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 20px 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #004AAD;
    cursor: pointer;
}

.slider-labels {
    display: flex;
    margin-top: -4px;
    --list-length: 5;
}

.slider-labels span {
    text-align: center;
    white-space: normal;
    font-size: 0.8rem;
    display: inline-block;
    width: calc((100% - 12px) / (var(--list-length) - 1));
}

.slider-labels span:first-child {
    width: calc((100% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: left;
}

.slider-labels span:last-child {
    width: calc((100% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: right;
}

.new-example:hover {
    background-color: #f0f0f0;
}

.new-example:active {
    background-color: #e0e0e0;
}

.checkboxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center span {
    margin-right: 8px;
}

.table-style {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
}

.table-style thead th {
    background-color: #cccccc;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
}

.table-style tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-style tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}

.table-style tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}


.content-Section {
    background: #fff;
    border: 1px solid #000;
    padding: 20px;
    margin-right: 10px;
}

.content-Section h2 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

.content-Section textarea {
    width: calc(100% - 20px);
    height: 100px;
    margin-bottom: 10px;
}

.content-Section select, .form-section input[type=submit] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}



.problemContainer {
    width: 630px;
    display: flex;
}

.tab-buttons {
    display: grid;
    grid-auto-flow: column;
}

.form-section {
    margin-right: 10px;
    margin-top: 6px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.form-section div > label {
    display: block;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
    background-color: white;
}

.center input[type=submit] {
    border: 2px solid #000;
    margin-right: 20px;
    background: white;
    padding: 10px 20px; /* Adjust padding to increase button size */
    font-size: 16px; 
}

.center button[type=submit] {
    border: 2px solid #000;
    margin-right: 20px;
    background: white;
    padding: 10px 20px; /* Adjust padding to increase button size */
    font-size: 16px; 
}

.center button[type=button] {
    border: 2px solid #000;
    margin-right: 20px;
    background: white;
    padding: 10px 20px; /* Adjust padding to increase button size */
    font-size: 16px; 
}

footer {
    margin-top: 30px;
    cursor: pointer;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.content-Section {
    display: none;
}

#problem-background {
    display: block;
}

#data {
    font-size: 12pt;
    font-weight: bold;
}

.welcome p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.preview-panel {
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    margin-left: 10px;
    white-space: normal; /* Ensures content wraps to new lines */
    font-size: 18px;
}

.preview-panel h2 {
    margin-top: 0;
}

.worksheet {
    display: grid;
    grid-template-columns: minmax(630px, 1fr) minmax(630px, 1fr);
    grid-column-gap: 10px;
}

.preview-panel table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    white-space: normal; /* Ensures content wraps to new lines */
}

.preview-panel table, .preview-panel th, .preview-panel td {
    border: 1px solid #dee2e6;
    white-space: normal; /* Ensures content wraps to new lines */
}

.preview-panel th, .preview-panel td {
    padding: 8px;
    text-align: left;
    white-space: normal; /* Ensures content wraps to new lines */
}

.tabs {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tablink {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tablink:hover {
    background-color: #ddd;
}

.tablink.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 20px;
}

.tabcontent.active {
    display: block;
}

.column {
    flex: 1;
    padding: 20px;
}

.left {
    border-right: 1px solid #ddd;
}

.right {
    padding-left: 20px;
}

.sub-tabcontent {
    display: none;
}

.sub-tabcontent.active {
    display: block;
}

.grayed-out {
    color: purple;
    pointer-events: none;
}

.selected {
    pointer-events: none;
    color: purple;
}


.left-panel, .right-panel {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 600px;
}

.problemContainer {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    height: 600px;
    width: 630px;
}

.help-panel {
    border: 1px solid #000;
    padding: 20px;
    background-color: #f8f9fa;
    width: 630px;
    font-size: 18px;
    overflow: scroll;
    height: 600px;
}

.ibutton {
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: width .3s;
    margin-left: 10px;
}

.icon {
    position: relative; /* Ensure the icon stays in its place */
    z-index: 1; /* Keep the icon above the expanding text */
}

.nfo {
    position: absolute;
    left: 10px;
    opacity: 0;
    white-space: nowrap;
    color: white;
    padding-left: 5px; /* Slight padding to create space between the icon and text */
    transition: opacity .3s, left .3s;
}

.ibutton:hover {
    width: 400px;
}

.ibutton:hover .nfo {
    opacity: 1;
    left: 35px;
}

#step_table {
    border-collapse: collapse;
  }
  
  #step_table td {
    margin-top: 10px;
    display: block; /* Makes each cell a block element */
    width: 550px; /* Adjust the width as needed */
  }

  #step_table input {
    width: 100%; /* Makes the input take the full width of the cell */
}

.step-textarea {
    width: 100%; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}
  
#preview-solution-steps td{
    display: block;
}

.inline-container {
    display: flex;
    align-items: center;
}

.textarea {
    font-size: 10px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.comment-div {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-div h4 {
    margin: 0 0 5px 0;
}

.comment-div p {
    margin: 0 0 10px 0;
}

.comment-div button {
    margin-right: 5px;
}


pre {
    margin: 0;
    overflow: auto;
    white-space: pre-wrap; /* Allows wrapping */
    word-break: break-all; /* Breaks long words */
    background-color: #f5f5f5; /* Light gray background color */
    padding: 10px; /* Adds some padding around the code */
    border-radius: 4px; 
}
code {
    display: block;
}

/* CSS to show the loading cursor */
.loading-cue {
    cursor: wait; /* Change cursor to loading state */
}

.loading-cue * {
    cursor: wait !important; /* Force all elements to use the loading cursor */
}
